.wrapper {
  display: flex;
  gap: 20px;

  .pageNumber {
    padding: 3px 12px;
    cursor: pointer;
    font-size: 1.2em;
    transition: .3s;

    &:hover {
      border-radius: 3px;
      background: #e8e8e8;
      transition: .3s;
    }
  }
  span {
    padding: 3px 12px;
    font-size: 1.2em;
    cursor: pointer;
  }
  .activePage {
    font-weight: bold;
    cursor: not-allowed;
  }
  button:disabled {
    cursor: not-allowed;
  }
}