.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 #cecece;

  .imgContainer {
    width: 200px;
    height: 200px;
    display: flex;
    margin-bottom: 24px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
  .title {
    font-size: 1.2em;
    padding: 0 6px;
    margin-bottom: 12px;

    &:hover {
      cursor: pointer;
    }
  }
  .description {
    padding: 0 6px;
    margin-bottom: 12px;
  }
  .rating {
    margin: 0 0 12px 6px;
  }
  .price {
    display: flex;
    justify-content: flex-end;
    padding: 0 6px;
    margin-bottom: 12px;
  }
  .button {
    align-self: flex-end;
    margin: 0 12px 12px 0;

    button {
      min-width: 110px;
    }
  }
}