.wrapper {
  position: fixed;
  width: 100%;
  background: #343434;

  .container {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    gap: 20px;

    a{
      color: white;
      border-bottom: 1px solid transparent;
      transition: .3s;
    }
    a:hover {
      border-bottom: 1px solid white;
      transition: .4s;
    }
  }

  .userInfo {
    display: flex;
    gap: 20px;
    svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .profile {
      position: relative;
      stroke: #ffffff;

      &>span {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2em;
        color: white;
      }

      .menu {
        position: absolute;
        width: max-content;
        height: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;

        background: #cccccc;
        transition: .3s;

        span {
          padding: 6px 12px;
          cursor: pointer;

          &:hover {
            background: #a8a8a8;
          }
        }
      }

      &:hover > .menu {
        height: fit-content;
      }

      &:hover {
        stroke: #ccc;
      }
    }
    .basket {
      fill: #ffffff;

      &:hover {
        fill: #ccc
      }
    }
  }
}
.preloader {
  position: absolute;
  width: 100%;

}


@keyframes showMenu {
  0% {
    height: 0;
  }
  100% {
    height: fit-content;
  }
}