.wrapper {
  position: fixed;
  width: 100%;
  background: #343434;

  .container {
    position: relative;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    gap: 20px;

    a{
      color: white;
      border-bottom: 1px solid transparent;
      transition: .3s;
    }
    a:hover {
      border-bottom: 1px solid white;
      transition: .4s;
    }
  }

  .iconMenu {
    display: none;
  }

  .userInfo {
    display: flex;
    gap: 20px;
    svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .profile {
      position: relative;
      stroke: #ffffff;

      &>span {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2em;
        color: white;
      }

      .menu {
        position: absolute;
        width: max-content;
        height: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;

        background: #cccccc;
        transition: .3s;

        span, a {
          padding: 6px 12px;
          cursor: pointer;

          &:hover {
            background: #a8a8a8;
          }
        }
      }

      &:hover > .menu {
        height: fit-content;
      }

      &:hover {
        stroke: #ccc;
      }
    }
    .basket {
      position: relative;
      fill: #ffffff;

      &:hover {
        fill: #ccc
      }

      span {
        position: absolute;
        top: 0;
        right: -10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 50%;
        background: #fd0a42;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
}
.preloader {
  position: absolute;
  width: 100%;

}

@media screen and (max-width: 420px){
  .wrapper {

    .container{

      .navigation {
        position: absolute;
        top: 46px;
        left: -200px;
        flex-direction: column;
        background: #343434;
        padding: 0 20px 12px;
        border-radius: 6px;

        transition: .3s;
      }
      .showMenu {
        left: -25px;

        transition: .3s;
      }
      .iconMenu {
        display: block;
        color: #FFFFFF;
        cursor: pointer;
        user-select: none;

      }
      .userInfo {
        margin-left: auto;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    height: 0;
  }
  100% {
    height: fit-content;
  }
}