.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;

  label {

    select {
      padding: 5px 24px;
      border-radius: 3px;

      &:focus-visible {
        outline: none;
      }
    }
  }
}